<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Expenses : Create</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="/static/external/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/static/external/bootstrap/css/bootstrap.min.css"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/static/external/bootstrap/js/bootstrap.min.js"></script>

    <script>
        $(function() {
            $( "#datepicker" ).datepicker({
//                dateFormat: "dd-mm-yy"
            });
        });

    </script>
</head>
<body>
<h1 layout:fragment="header">Expenses : Create</h1>

<div layout:fragment="content"
     class="container">
    <form id="messageForm"
          th:action="@{/(form)}"
          th:object="${expenseDTO}"
          action="#"
          method="post">
        <div th:if="${#fields.hasErrors('*')}"
             class="alert alert-error">
            <p th:each="error : ${#fields.errors('*')}"
               th:text="${error}">
                Validation error
            </p>
        </div>
        <div class="pull-right">
            <a th:href="@{/}" href="expenses.html">
                Expenses
            </a>
        </div>
        <label for="description">Description</label>
        <input id="description" type="text"
               th:field="*{description}"
               th:class="${#fields.hasErrors('description')} ? 'field-error'"/>

        <label for="amount">Amount</label>
        <!--TODO Ensure field only accepts digits and positive numbers -->
        <input id="amount" type="text"
               th:field="*{amount}"
               th:class="${#fields.hasErrors('amount')} ? 'field-error'"/>

        <label for="frequency">Frequency</label>
        <select id="frequency" th:field="*{frequency}">
            <option th:each="option : ${allFrequencies}"
                    th:value="${option.name()}"
                    th:text="${option.toString()}"></option>
        </select>

        <!--<label for="incurredTime"></label>-->

        <div>
            <ul>
                <!--<li th:each="option : ${paymentScheduleOptions}">-->
                <!--&lt;!&ndash;Trying to set a default value to be checked &ndash;&gt;-->
                <!--&lt;!&ndash;th:checked="${option == option.NOW} ? 'checked' : null "&ndash;&gt;-->
                <!--<input type="radio" th:field="*{expenseSchedule}" th:value="${option.name()}"/>-->
                <!--<label id="incurredTime" th:text="${option.toString()}"></label>-->
                <!--</li>-->
            </ul>
        </div>


        <label for="datepicker">First Payment Date</label>
        <input type="text" id="datepicker" th:field="*{firstPaymentDate}" />

        <!--<label for="newDate">First Payment Java 8 Date</label>-->
        <!--<input type="text" id="datepicker" th:field="*{newDate}" />-->
        <div class="form-actions">
            <input type="submit" value="Create"/>
        </div>
    </form>
</div>
</body>
</html>