<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Expenses : View all</title>
</head>
<body>
<h1 layout:fragment="content-heading">Expenses : View all</h1>

<div layout:fragment="content" class="container">
    <div class="expenseTableButton">
        <a class="btn btn-primary" href="form.html" th:href="@{/expense/form}">Create Expense</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Frequency</th>
                <th>Payment Date</th>
            </tr>
        </thead>
        <tbody>
        <tr th:if="${expenses.empty}">
            <td colspan="7">
                No expenses
            </td>
        </tr>
        <tr th:each="expense : ${expenses}">
            <td th:text="${expense.expenseId}">1</td>
            <td>
                <a href="view.html"
                   th:href="@{'expense/' + ${expense.expenseId}}"
                   th:text="${expense.description}">
                    The description
                </a>
            </td>
            <td th:text="${'$' + expense.amount}"></td>
            <td th:text="${expense.getFrequency()}"></td>
            <td th:text="${#dates.format(expense.firstPaymentDate, 'dd MMM yyyy')}"> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>