<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Expenses : View all</title>
</head>
<body>
<h1 layout:fragment="header">Expenses : View all</h1>

<div layout:fragment="content" class="container">
    <div class="pull-right">
        <a href="form.html" th:href="@{/(form)}">Create Expense</a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Description</td>
            <td>Amount</td>
            <td>Frequency</td>
            <td>Payment Date</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${expenses.empty}">
            <td colspan="7">
                No expenses
            </td>
        </tr>
        <tr th:each="expense : ${expenses}">
            <td th:text="${expense.id}">1</td>
            <td>
                <a href="view.html"
                   th:href="@{'/' + ${expense.id}}"
                   th:text="${expense.description}">
                    The description
                </a>
            </td>
            <td th:text="${'$' + expense.amount}"></td>

            <!-- Frequency -->
            <td th:text="Monthly"></td>
            <!--<td th:text="${expense.getExpenseSchedule()}"></td>-->

            <!-- Next Payment Date -->
            <td th:text="22-05-2016"></td>
            <!--<td th:text="${expense.getEffectiveDate()} + ${expense.getExpenseSchedule() == ONCE_OFF ? '' : ' ' + expense.getExpenseSchedule()}"></td>-->

            <!--<td th:text="${expense.getEffectiveDate()}"></td>-->
            <!--<td th:text="${expense.getNewDate()}"></td>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>