body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

ul {
    list-style: none;
    /*list-style-type: none;*/
}

.navbar-wrapper {
    margin-top: 20px;
}

.form-control {
    width: 25%;
}

.contentHeading {
    color: #003580;
    padding-bottom: 20px;
    padding-top: 80px;
}

.container {
    padding-left: 1px;
}

.expenseTableButton {
    float: right;
}

.navbar-wrapper > .container {
    width: 62%;
}

.left-bar {
    width: 19%;
}