<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>View incomes</title>
    <script>
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: "dd/mm/y"
            });
        });
    </script>
</head>
<body>
<h1 layout:fragment="content-heading">Income details</h1>

<div layout:fragment="content" class="container">

    <form id="editForm" th:action="@{/income}" th:object="${income}"
          method="post">

        <input id="incomeId" class="form-control" type="text" th:field="*{incomeId}" hidden="hidden"/>

        <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-danger'">
            <div class="row">
                <div class="col-sm-4">
                    <label class="form-control-label" for="description">Description</label>
                    <input id="description" class="form-control" type="text" th:field="*{description}"/>
                </div>
            </div>
            <div class="row" th:hidden="!${#fields.hasErrors('description')}">
                <div class="col-sm-6">
                    <small class="form-control-feedback">Please enter a description</small>
                </div>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('amount')} ? 'has-danger'">
            <div class="row">
                <div class="col-sm-2">
                    <label class="form-control-label" for="amount">Amount</label>
                    <input id="amount" class="form-control" type="text" th:field="*{amount}"/>
                </div>
            </div>
            <div class="row" th:hidden="!${#fields.hasErrors('amount')}">
                <div class="col-sm-8">
                    <small class="form-control-feedback">An amount must be provided</small>
                </div>
            </div>
        </div>

        <div class="row form-group" th:classappend="${#fields.hasErrors('frequency')} ? 'has-danger'">
            <div class="col-sm-2">
                <label class="form-control-label" for="frequency">Frequency</label>
                <select id="frequency" class="form-control" th:field="*{frequency}">
                    <option th:each="option : ${allFrequencies}"
                            th:value="${option.name()}"
                            th:text="${option.toString()}"></option>
                </select>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('firstPaymentDate')} ? 'has-danger'">
            <div class="row">
                <div class="col-sm-2">
                    <label class="form-control-label" for="datepicker">First Payment Date</label>
                    <input type="text" id="datepicker" class="form-control" th:field="*{firstPaymentDate}"/>
                </div>
            </div>
            <div class="row" th:hidden="!${#fields.hasErrors('firstPaymentDate')}">
                <div class="col-sm-6">
                    <small class="form-control-feedback">A first payment date must be selected</small>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row" role="group">
                <div class="col-sm-12">
                    <input class="col-sm-1 btn btn-primary" type="submit" value="Edit" name="action"/>
                    <input class="col-sm-1 btn btn-warning" type="submit" value="Cancel" name="cancel"/>
                    <a class="col-sm-1 btn btn-danger" th:href="@{/income/{incomeId}/delete(incomeId=${income.incomeId})}">Delete</a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>