<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Expenses : View all</title>
</head>
<body>
<h1 layout:fragment="content-heading">View loans</h1>

<div layout:fragment="content" class="container">
    <div class="alert alert-success"
         th:if="${globalMessage}"
         th:text="${globalMessage}">
        Some Success expense
    </div>

    <div class="loanTableButton">
        <a class="btn btn-primary" href="form.html" th:href="@{/loan/form}">Create Loan</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Loan Id</th>
            <th>Description</th>
            <th>Principal Amount</th>
            <th>Current Balance</th>
            <th>Interest Rate</th>
            <th>Term</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${loans.empty}">
            <td colspan="6">
                No loans
            </td>
        </tr>
        <tr th:each="loan : ${loans}">
            <td th:text="${loan.loanId}">1</td>
            <td>
                <a href="view.html"
                   th:href="@{'/loan/' + ${loan.loanId}}"
                   th:text="${loan.description}">
                    The description
                </a>
            </td>
            <td th:text="${'$' + loan.principalAmount}"></td>
            <td th:text="${'$' + loan.currentBalance}"></td>
            <td th:text="${loan.interestRate}"></td>
            <td th:text="${loan.term}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>